<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       profile="embed">
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">

        <property name="driverClassName" value="${DatabaseConfigEmbedDriver}" />
        <property name="url" value="${DatabaseConfigEmbedUrl}" />
        <property name="username" value="${DatabaseConfigEmbedUsername}" />
        <property name="password" value="${DatabaseConfigEmbedPassword}" />
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="daoHelper" class="org.libresonic.player.dao.GenericDaoHelper">
        <constructor-arg name="dataSource" ref="dataSource" />
    </bean>

</beans>